@{
    ViewBag.Title = "Contact";
}

<h4>@ViewBag.Message</h4>
<div class="row">

    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="~/wwwroot/Developer.jpg" class="card-img-top" alt="Developer">
            <div class="card-body">
                <h5 class="card-title">Nemish Zalavadiya</h5>
                <p class="card-text">
                    
                        Roll No    : CE147 </br>
                        College Id : 17CEUOG074 </br>
                        Email Id : Dummy@gmail.com
                        
                  
                 </p>
                
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="~/wwwroot/Developer.jpg" class="card-img-top" alt="Developer">
            <div class="card-body">
                <h5 class="card-title">Meet Vasani</h5>
                <p class="card-text">
                    Roll No    : CE142 </br>
                    College Id : 18CEUOD004 </br>
                    Email Id : Dummy@gmail.com
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="~/wwwroot/Developer.jpg" class="card-img-top" alt="Developer">
            <div class="card-body">
                <h5 class="card-title">Aayush Dakwala</h5>
                <p class="card-text">
                    Roll No    : CE021 </br>
                    College Id : 18CEUOD015</br>
                    Email Id : Dummy@gmail.com
                </p>
            </div>
        </div>
    </div>


</div>